@model Vortex.Models.Report

@{
    ViewBag.Title = "EditImage";
}

<h2>Update image:</h2>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FaultTyp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultTyp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultDescr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultDescr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionalLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionalLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faultprgrss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faultprgrss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>


@using (Html.BeginForm("EditImage", "Reports", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ReportID)


        @Html.HiddenFor(model => model.FaultTyp, new { htmlAttributes = new { @class = "form-control" } })

        @Html.HiddenFor(model => model.FaultDescr, new { htmlAttributes = new { @class = "form-control" } })

        @Html.HiddenFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })

        @Html.HiddenFor(model => model.OptionalLocation, new { htmlAttributes = new { @class = "form-control" } })
        <div class="form-group">
            @Html.LabelFor(model => model.ImagePath, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="ImageFile" required>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Faultprgrss, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Faultprgrss, new SelectList(Enum.GetValues(typeof(Vortex.Models.Report.ProgressList))), "Select", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Faultprgrss, "", new { @class = "text-danger" })
            </div>
        </div>




        @Html.HiddenFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })

        @Html.HiddenFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })


        @Html.HiddenFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })

        @Html.HiddenFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back Home", "AdminHomePage","Home")
</div>
