@model IEnumerable<Vortex.Models.Report>

@{
    ViewBag.Title = "TrackIndex";
}

<h2>Track Progress</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FaultTyp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaultDescr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OptionalLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faultprgrss)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FaultTyp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaultDescr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionalLocation)
            </td>
            <td>
                <img src="@Url.Content(item.ImagePath)" width="150" height="150" multiple />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faultprgrss)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>

        </tr>
    }
    <div class="form-group">
    <div class="col-md-8">
        @Html.Action("NoImagIndex", "Reports")

    </div>
</div>
</table>


<div>
    <div>
        @Html.ActionLink("Back home", "StudentHomePage", "Home")
    </div>
    <div align="right">
        @Html.ActionLink("Next rewards", "RewardPic", "Points")
    </div>
</div>
